@import "./variables.css";

/* --------------------- */
/* RESET */
/* --------------------- */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html{
    scroll-behavior:smooth;
}

body{

    font-family: "Inter", sans-serif;

    background:var(--background);

    color:var(--text-primary);

    overflow-x:hidden;

}

/* --------------------- */
/* COMMON */
/* --------------------- */

a{
    text-decoration:none;
    color:inherit;
}

button{

    border:none;

    outline:none;

    cursor:pointer;

    background:none;

    font-family:inherit;

}

input,
select,
textarea{

    border:none;

    outline:none;

    font-family:inherit;

}

img{

    display:block;

    max-width:100%;

}

ul{

    list-style:none;

}

/* --------------------- */
/* SCROLLBAR */
/* --------------------- */

::-webkit-scrollbar{

    width:8px;

}

::-webkit-scrollbar-thumb{

    background:#BDBDBD;

    border-radius:10px;

}

::-webkit-scrollbar-track{

    background:#ECECEC;

}