:root {

  /* ---------- Colors ---------- */

  --sidebar-bg: #172544;
  --sidebar-hover: #24375E;
  --primary-blue: #1E2B4D;

  --background: #F5F7FB;
  --card-bg: #FFFFFF;

  --text-primary: #1F2937;
  --text-secondary: #6B7280;

  --border: #E5E7EB;

  --success: #22C55E;
  --warning: #F59E0B;
  --danger: #EF4444;

  /* ---------- Sizes ---------- */

  --sidebar-width: 215px;
  --navbar-height: 72px;

  --radius: 14px;

  /* ---------- Shadow ---------- */

  --shadow: 0 4px 18px rgba(0,0,0,.08);

}