.sidebar{

    width:var(--sidebar-width);

    height:100vh;

    background:var(--sidebar-bg);

    position:fixed;

    left:0;
    top:0;

    display:flex;

    flex-direction:column;

    justify-content:space-between;

    padding:22px 16px;

}

/* ---------------- LOGO ---------------- */

.logo-section{

    display:flex;

    align-items:center;

    gap:10px;

    margin-bottom:40px;

}

.logo-section img{

    width:34px;

    height:34px;

    object-fit:contain;

}

.logo-section h2{

    color:white;

    font-size:18px;

    font-weight:700;

    white-space:nowrap;

}

/* ---------------- MENU ---------------- */

.menu{

    display:flex;

    flex-direction:column;

    gap:8px;

}

/* ---------------- MENU ITEM ---------------- */

.menu-item{

    display:flex;

    align-items:center;

    gap:12px;

    padding:12px 14px;

    border-radius:10px;

    color:white;

    text-decoration:none;

    transition:.25s;

}

.menu-item:hover{

    background:var(--sidebar-hover);

}

.menu-item.active{

    background:var(--primary-blue);

}

/* icon */

.menu-item svg{

    font-size:18px;

    min-width:18px;

}

/* text */

.menu-item span{

    font-size:15px;

    font-weight:500;

    white-space:nowrap;

}

/* ---------------- LOGOUT ---------------- */

.logout{

    display:flex;

    align-items:center;

    gap:12px;

    width:100%;

    padding:12px 14px;

    border-radius:10px;

    color:white;

    background:transparent;

    transition:.25s;

}

.logout:hover{

    background:#EF4444;

}

.logout svg{

    font-size:18px;

}

.logout span{

    font-size:15px;

    font-weight:500;

}

/* ---------------- SCROLL ---------------- */

.sidebar::-webkit-scrollbar{

    width:4px;

}

.sidebar::-webkit-scrollbar-thumb{

    background:#42577d;

    border-radius:20px;

}