.navbar{

    height:72px;

    background:#fff;

    border-bottom:1px solid var(--border);

    display:flex;

    justify-content:space-between;

    align-items:center;

    padding:0 32px;

}

.navbar-left{

    display:flex;

    align-items:center;

    gap:14px;

}

.page-title{

    font-size:30px;

    font-weight:700;

    color:#1F2937;

}

.back-btn{

    width:40px;

    height:40px;

    border-radius:50%;

    background:#F3F4F6;

    display:flex;

    justify-content:center;

    align-items:center;

    transition:.25s;

}

.back-btn:hover{

    background:#E5E7EB;

}

.back-btn svg{

    font-size:20px;

}

.navbar-right{

    display:flex;

    gap:16px;

}

.nav-btn{

    width:42px;

    height:42px;

    border-radius:50%;

    background:white;

    border:1px solid var(--border);

    display:flex;

    justify-content:center;

    align-items:center;

    position:relative;

    transition:.25s;

}

.nav-btn:hover{

    background:#F8FAFC;

}

.nav-btn svg{

    font-size:21px;

    color:#374151;

}

.notification-badge{

    width:8px;

    height:8px;

    border-radius:50%;

    background:#EF4444;

    position:absolute;

    top:10px;

    right:10px;

}